/*!
 * Start Bootstrap - Freelancer Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/*#c65b24*/

/*ATLAS*/
leyenda-img{
  text-align: center;
}

.img-instrumental{
  text-align: center;
  padding: 20px;
  margin: 10px;
  max-width: 500px;
  max-height: 100%;
  
}
.atlas-menu {
    font-size: 11px;
    text-align: center;
}

.hugo{
  color: #483e37;
  background: #f2f2f2;
  text-align: center;
  }

.atlas{
  text-align: center;
}

/*ATLAS*/


.novedad{
  text-align: center;
}
.novedad p{
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
}

body {
    overflow-x: hidden;
}

p {
    font-size: 15px;
}

p.small {
    font-size: 14px;
    color: #000;
}

/*a {
    outline: 0;
    background: #000;
    color: #f2f2f2;
}


a:hover,
a:focus,
a:active,
a.active {
    color: #000;
}
*/

/*MENU*/
.nav-menu{
    background-color: #fff;
}

.menu{
    background-color: #24221c;
}

ul.nav-menu > li > a {
    padding-top:10px;
    padding-bottom: 10px
    padding: 0;
    color: #e3e2db;
    font-size: 20px;
    text-align: center;


}

ul.nav-menu> li > a:hover,
ul.nav-menu > li > a:active {
    color: #ddd;
    background-color: #000;
}

ul.nav-pills > li > a {
    color: #668666;
    background-color: #fff;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 100;
}

.page-header{
    border-bottom: 1.5px solid #668666;
    margin: 20px 0 20px;
    padding-bottom: 9px;
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(../img/banner.png) no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.banner{
    /*background-image: url(/static/img/banner4.png);*/
    background-size: 100% ;
    background-position: 0 center;
    background-repeat: no-repeat;
    margin-top: 10px;
    text-align:center;
}

.imagenes{
    width: 100%;
    height: 100%
}

.img-estaciones{
    width: 300px;
    height: 100%;
}

.img-centered {
    text-align:center;
    width: 500px;
    height: 100%;
    margin: 0 auto;
}

.img-center {
    margin: 0 auto;
}

.img-logo{
    text-align:center;
    width: 200px;
    height: 100%;
}

.logos{
    text-align:center;
    width: 100px;
    height: 100%;
}
.center{
    margin-top: 5px;
    text-align:center;
}

header {
    text-align: center;
    color: #1c2224;
    background: #fffffe;
}

header .container {
    padding-top: 10px;
    padding-bottom: 10px;
}

header img {
    display: block;
    margin: 0 auto 20px;
}

header .intro-text .name {
    display: block;
    font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2em;
    font-weight: 600;
}

header .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300;
}

@media(min-width:768px) {
    header .container {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    header .intro-text .name {
        font-size: 2em;
    }

    header .intro-text .skills {
        font-size: 1em;
    }
}

.titulo{
    color: #565555;
    margin: 10px;
    margin-top:20px;
    font-weight: normal;
}

.contenido-tabla{
    padding: 1px;
    color: #565555;
    margin: 0px;
    margin-top: 10px;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
}


@media(min-width:768px) {
    .navbar-brand {
      padding: 16px 8px !important;
    }

    .navbar-fixed-top {
        padding: 0px 0px 0px 0px;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-fixed-top .navbar-brand {
        font-size: 2.5em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }
/* barra cuando baja*/
    .navbar-fixed-top.navbar-shrink {
        padding: 0px 0px;
    }

    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

.navbar {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 100;
}

.navbar a:focus {
    outline: 0;
}

.navbar .navbar-nav {
    letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}

.navbar-default,
.navbar-inverse {
    border-bottom-width: 10px;
    border-color: #668666;
}

.img-int{
    width: 200px;
    height: 200px;
}

section {
    padding: 50px 0;
}

section h2 {
    margin: 0px;
    padding-bottom: 20px;
    font-size: 2em;
}

section.success {
    color: #1c2224;
    background: #f2f2f2;
}

section.objetivo {
    color: #f2f2f2;
    background: #668666;
}

section.mapa {
    color: #483e37;
    background: #f2f2f2;
}

section.integrante {
    color: #f2f2f2;
    background: #668666;
}

section.pagina{
    color: #483e37;
    background: #f2f2f2;
}

section.ubicacion{
    color: #222222;
    background: #fffffe;

}

section.info{
    color: #483e37;
    background: #f2f2f2;
}



section.red{
    color: #483e37;
}

iframe.mapa{
    width: 80%;
    height: 300px;
}

@media(max-width:767px) {
    section {
        padding: 75px 0;
    }

    section.first {
        padding-top: 75px;
    }
}

.img-porfolio{
    width: 200px;
    height: 100%;

}



#portfolio .portfolio-item {
    right: 0;
    margin: 20px 0px 30px;
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 300px;
}

#portfolio .portfolio-item .portfolio-link .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(102, 174, 102,.6);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#portfolio .portfolio-item .portfolio-link .caption:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
    margin: 0;
}

#portfolio * {
    z-index: 2;
}

@media(min-width:767px) {
    #portfolio .portfolio-item {
        margin: 30 0 30px;
    }
}

.btn-outline {
    margin-top: 15px;
    border: solid 2px #fff;
    font-size: 20px;
    color: #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px #fff;
    color: #f2f2f2;
    background: #fff;
}

.floating-label-form-group {
    position: relative;
    margin-bottom: 0;
    padding-bottom: .5em;
    border-bottom: 1px solid #eee;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: 0;
    border-radius: 0;
    font-size: 1.5em;
    background: 0 0;
    box-shadow: none!important;
    resize: none;
}

.floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: .85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top .3s ease,opacity .3s ease;
    -moz-transition: top .3s ease,opacity .3s ease;
    -ms-transition: top .3s ease,opacity .3s ease;
    transition: top .3s ease,opacity .3s ease;
}

.floating-label-form-group::not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eee;
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
}

.floating-label-form-group-with-focus label {
    color: #f2f2f2;
}

form .row:first-child .floating-label-form-group {
    border-top: 1px solid #eee;
}

footer {
    color: #fff;
}

footer h3 {
    margin-bottom: 30px;
}

footer .footer-above {
    padding-top: 20px;
    background-color: #668666;
}

footer .footer-col {
    margin-bottom: 10px;
}

footer .footer-below {
    padding: 25px 0;
    background-color: #668666;
}

.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}


.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}

a.btn-social:hover, a.btn-social:focus{
    color: #668666;
}


.scroll-top {
    z-index: 1049;
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
}

.scroll-top .btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 28px;
}

.scroll-top .btn:focus {
    outline: 0;
}

.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-modal .modal-content h2 {
    margin: 0;
    font-size: 3em;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content .item-details {
    margin: 30px 0;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #668666;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #668666;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.btn-index {
  white-space: nowrap;
  color: #2C2C2E;
  font-size: 25px;
}

.btn-index:hover,
.btn-index:focus,
.btn-index:active,
.btn-index.active,
.open > .dropdown-toggle.btn-index {
    font-weight: bold;
    color: #2C2C2E;
}

.active-menu{
    color: #fffffe;
    opacity: 0.5;
    background: #668666;
}

.btn-index {
    color: #fffffe;
    background: #668666;
    text-align: center;
    width: 100px;
    height: 100px;
    border: 2px solid #668666;
    font-size: 20px;
    display: inline-block;
    display: table;
    line-height:50px;
}


a.btn-index:hover, a.btn-index:focus{
    text-decoration:none;
    color: #668666;
    border: 2px solid #668666;
    background: transparent;
    -webkit-transition: all ease .6s;
    -moz-transition: all ease .6s;
    transition: all ease .6s;
}

/*lista de Publicaciones*/
.list-g {
  margin-bottom: 10px;
  padding-left: 1px;
}

.list-g-item {
  position: relative;
  display: block;
  padding: 5px 5px;
  margin-bottom: 5px;
  background-color: #fff;
  border: 0px solid #668666;
  border-left: 10px solid #668666;
  border-top: 1px solid #668666;
}

.list-g-item.active,
.list-g-item.active:hover,
.list-g-item.active:focus {
  color: #ffffff;
  background-color: #668666;
}

a.list-g-item{
    color: #555555;
}

a.list-g-item:hover,
a.list-g-item:focus
{
    color: #fffffe;
    background-color: #668666;
    border-color: #668666;
    text-decoration: none;
}

.list-g-autor{
    font-size: 11px;
    margin: 2px 0px 0px 10px;
}

.list-g-titulo{
    font-size: 14px;
    font-weight: bold;
    margin: 10px -1px 2px 5px;
}

.list-g-congreso{
    font-style: italic;
    font-size: 12px;
    margin: 2px 0px 2px 10px;
}


/*CURSOS*/

.list-c-item {
    text-align: center;
    position: relative;
    display: block;
    padding: 5px 5px;
    margin-bottom: 5px;
    background-color: #fff;
    border: 0px solid #668666;
    border-left: 0px solid #668666;
    border-top: 1px solid #668666;
}

.list-c-item.active,
.list-c-item.active:hover,
.list-c-item.active:focus {
  color: #ffffff;
  background-color: #668666;
}

.list-c-detalles{
    font-size: 12px;
    margin: 2px 20px 2px 20px;
}

.list-c-titulo{
    font-size: 16px;
    font-weight: bold;
    margin: 10px -1px 2px 5px;
}

.list-c-img{
    margin-top: 5px;
    margin-bottom: 10px;
    text-align:center;
    width: 400px;
    height: 100%;
}

.list-p-item {
    position: relative;
    display: block;
    padding: 5px 5px;
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #668666;
    border-left: 10px solid #668666;
    border-bottom: 1px solid #668666;
}

.rect {
    position: relative;
    display: block;
    padding: 5px 5px;
    margin-bottom: 10px;
    border: 0px solid #668666;
    border-top: 1px solid #668666;
}

.rect-img{
    margin-top: 5px;
    margin-bottom: 10px;
    text-align:center;
    height: 100%;
    width: 350px;
}

#Objetivos * {
  font-family: 'Roboto Condensed', sans-serif;
}

#Objetivos p {
  font-size: 13pt;
}

#Integrantes {
  text-decoration: none;
}
